$beige: #E3DDCF;
$lightbeige: #E1C0AB;
$darkbrown: #7F3F23;
$greenbrown: #645F43;
$darkgrey: #5B5A5A;

@mixin transition {
  transition: all .3s;
}

@mixin for-phone-only {
  @media (max-width: 480px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 736px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 980px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1280px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1690px) { @content; }
}

.button {
  &__container {
    margin-top: 1rem;
    text-align: center;
  }
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  background: $greenbrown;
  padding: 1.4rem 1rem 1rem;
  font-weight: bold;
  display: inline-block;
  &-2 {
    border: 1px solid $greenbrown;
    color: $greenbrown;
    background: none;
  }
}

input {
  border: 1px solid $darkbrown;
  border-radius: 6px;
  padding: .3rem .5rem 0;
}