@import "normalize";
@import "main";
@import "variables";
@import "typography";

.container {
	margin: 0 auto;
	padding: 1rem;
	@include for-tablet-portrait-up {
		max-width: 704px;
	}
	@include for-tablet-landscape-up {
		max-width: 948px;
	}
	@include for-desktop-up {
		max-width: 1248px;
	}
	@include for-big-desktop-up {
		max-width: 1600px;
	}
}

nav {
	ul {
		list-style: none;
		padding: 0;
	}
}